<div class="card mt-4">
    <div class="card-header">Filtrar por Nivel: </div>
    <div class="card-body">    
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1" onclick="location.href='/tags/1/'">
            Primero <span class="ms-1 badge text-bg-secondary rounded-pill opacity-50">7</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1" onclick="location.href='/tags/2/'">
            Segundo <span class="badge text-bg-secondary rounded-pill opacity-50">9</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1" onclick="location.href='/tags/3/'">
            Tercero <span class="badge text-bg-secondary rounded-pill opacity-50">12</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1" onclick="location.href='/tags/4/'">
            Cuarto <span class="badge text-bg-secondary rounded-pill opacity-50">10</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1" onclick="location.href='/tags/5/'">
            Quinto <span class="badge text-bg-secondary rounded-pill opacity-50">5</span>
        </button>
    </div>
</div>