<div class="card mt-3">
    <div class="card-header">Filtrar por Estado: </div>
    <div class="card-body">
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1"
            onclick="location.href='/tags/puede-inscribir/'">
            Puedo inscribirme <span class="badge text-bg-secondary rounded-pill opacity-50">x</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1"
            onclick="location.href='/tags/abandonado/'">
            Abandonada <span class="badge text-bg-secondary rounded-pill opacity-50">x</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1"
            onclick="location.href='/tags/cursando/'">
            Cursando <span class="badge text-bg-secondary rounded-pill opacity-50">x</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm me-1 mb-1"
            onclick="location.href='/tags/aprobado-cursado/'">
            Aprobada <span class="badge text-bg-secondary rounded-pill opacity-50">x</span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm mb-1"
            onclick="location.href='/tags/aprobado-directo/'">
            Promocionada <span class="badge text-bg-secondary rounded-pill opacity-50">x</span>
        </button>
    </div>
</div>