{{ define "main" }}
<div class="container-fluid mt-4">
  <!-- la vaina que muestra donde estas parado -->
  {{ partial "cornell/breadcumb" . }}
  <!-- agregar links a la derecha para #1, #2, #3 -->
</div>

<div class="container">
  <div>
    {{ range .Pages }}
      {{ partial "cornell/content" . }}
    {{ end }}
  </div>
  <div class="sticky-bottom py-2 px-5">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <i class="bi bi-list-nested pe-2"></i>Mapa de Contenidos
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                {{ range .Pages }}
                  <li><a class="text-dark" href="#{{ .Date.Format "01-02-2006" }}">{{ .Date.Format "01-02-2006" }} - {{ .Title }}</a></li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
{{ end }}