<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h1 class="text-body-emphasis h4">Facultad.txt</h1>
    <span class="text-body-secondary">La navidad es el checkpoint, a ponerse bien tryhard y aprovechar las balas de plata.</span>
  </div>
</div>
<nav class="navbar border-bottom border-body" style="background-color: #f8f8f8;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <i class="bi bi-journals d-inline-block me-1"></i>
      {{ .Site.Title }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation" onclick="toggleText()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
