
<div class="my-5">
    <h2 class="h6 text-center pt-5" id="{{ .Date.Format "01-02-2006" }}"><i class="bi bi-file-earmark pe-1"></i> {{ .Date.Format "01-02-2006" }} - {{ .Title }}</h2>
    <div class="row">
        <div class="col-lg py-5 border-end">
            {{ .Content }}
        </div>
        <div class="col-lg py-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla amet eveniet omnis eum libero, necessitatibus, placeat velit officia consequuntur cum laboriosam blanditiis sunt, numquam vero cupiditate. Ipsum explicabo cum harum.</p>
        </div>
    </div>
    <!-- <div class="border-top"></div> -->
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum odit labore delectus veniam, iure architecto asperiores quasi aspernatur beatae consectetur deleniti distinctio saepe blanditiis. Voluptates quidem tenetur iusto corporis? Nisi.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>